* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  background-image: url("images/Back\ copy.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ////////////////////The NAV//////////////////////////// */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 40px;
}

.right {
  font-size: 40px;
}
.icon {
  width: 200px;
}

input {
  width: 120px;
  padding: 10px 5px;
  font-size: 20px;
  border-radius: 8px;
}

.btn-login {
  padding: 13px;
  border-radius: 8px;
}

form {
  display: flex;
  gap: 5px;
}

/* ///////////////////////The Top Main///////////////////// */

.app {
  width: 60%;
  margin: 40px auto;
}
.top {
  display: flex;
  font-size: 40px;
  justify-content: space-between;
}

/* /////////////////////////The Middle Main///////////////// */

.middle {
  display: flex;
  gap: 20px;
}

.box-movements {
  width: 50%;
  background-color: rgb(243, 243, 243);
  border-radius: 8px;
}

.middle-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.box-transfer-money {
  background-color: rgb(138, 138, 138);
  padding: 20px;
  border-radius: 8px;
  height: 130px;
}

.box-request-loan {
  background-color: rgb(179, 179, 179);
  padding: 20px;
  border-radius: 8px;
  height: 130px;
}

.box-close-account {
  background-color: rgb(214, 214, 214);
  padding: 20px;
  border-radius: 8px;
  height: 130px;
}
